{% extends 'header.html' %}

{% block title %}
  {% if account %} Edit Account {% else %} Add Account {% endif %}
{% endblock %}


{% block content %}
<div class="container mt-5">
  <h1 class="heading text-center">
    {% if account %}Edit Account{% else %}Add Account{% endif %}
  </h1>

  <!-- Form to edit account details -->
  <div class="card mx-auto" style="width: 600px; min-height: 600px; background-image: url({{ account.icon }})">
    <!-- Increased card width and added min-height -->
    <div class="card-body">
      <!-- Ensuring the whole form is inside the card-body for uniform styling -->
      <form method="POST" action="
      {% if account %}
        {{ url_for('edit_vault', account_id=account.id) }}
      {% else %}
        {{ url_for('add_vault') }}
      {% endif %}">
        <!-- CSRF protection -->
        {{ form.hidden_tag() }}

        <!-- URL Field with copy button -->
        <div class="form-group mb-3">
          <strong>{{ form.url.label(class="form-label") }}</strong>
          <div class="input-group">
            {{ form.url(class="form-control", id="urlInput") }}
            <span class="input-group-text copy-btn" id="copyUrl" data-copy-target="urlInput">
              <img src="{{ url_for('static', filename='images/copy.png') }}" alt="Copy" width="20px">
            </span>
          </div>
        </div>

        <!-- Username Field with copy button -->
        <div class="form-group mb-3">
          <strong>{{ form.username.label(class="form-label") }}</strong>
          <div class="input-group">
            {{ form.username(class="form-control", id="usernameInput") }}
            <span class="input-group-text copy-btn" id="copyUsername" data-copy-target="usernameInput">
              <img src="{{ url_for('static', filename='images/copy.png') }}" alt="Copy" width="20px">
            </span>
          </div>
        </div>

        <!-- Password Field with hide/unhide and copy button -->
        <div class="form-group mb-3">
          <strong>{{ form.password.label(class="form-label") }}</strong>
          <div class="input-group">
            {{ form.password(class="form-control", id="passwordInput", placeholder="Enter your password") }}
            <span class="input-group-text" id="togglePassword">
              <img src="{{ url_for('static', filename='images/hide.png') }}" alt="Toggle Password" width="20px" id="toggleIcon">
            </span>
            <span class="input-group-text copy-btn" id="copyPassword" data-copy-target="passwordInput">
              <img src="{{ url_for('static', filename='images/copy.png') }}" alt="Copy" width="20px">
            </span>
          </div>
        </div>

          <!-- Password length field -->
          <div class="form-group mt-2">
            <strong>{{ form.password_length.label(class="form-label") }}</strong>
            {{ form.password_length(class="form-control", id="password_length") }}
          </div>

          <!-- Character options for password generation -->
          <div class="form-check mt-2">
            {{ form.use_uppercase(class="form-check-input", id="use_uppercase") }}
            <label class="form-check-label" id="use_uppercase">Include Uppercase Letters</label>
          </div>
          <div class="form-check">
            {{ form.use_lowercase(class="form-check-input", id="use_lowercase") }}
            <label class="form-check-label" id="use_lowercase">Include Lowercase Letters</label>
          </div>
          <div class="form-check">
            {{ form.use_digits(class="form-check-input", id="use_digits") }}
            <label class="form-check-label" id="use_digits">Include Digits</label>
          </div>
          <div class="form-check">
            {{ form.use_special(class="form-check-input", id="use_special") }}
            <label class="form-check-label" id="use_special">Include Special Characters</label>
          </div>


        <!-- Save Changes and Generate Password buttons -->
        <div class="text-center mt-4"> <!-- Added margin-top for spacing -->
          {{ form.submit(class="btn btn-primary") }}
          <button type="button" class="btn btn-secondary" id="generatePasswordBtn">Generate Random Password</button>

           <!-- Conditional Cancel button -->
          <a href="{% if account %}{{ url_for('show_vault', account_id=account.id) }}{% else %}{{ url_for('all_vaults') }}{% endif %}" class="btn btn-secondary">Cancel</a>
         </div>
      </form>
    </div>
  </div>
</div>
<!-- Reference the external script -->
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>
{% endblock %}
